/*Type Selector*/
/*tag-name*/
h1 {
	color: yellow !important;
}

/*Universal Selector*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*#id-name*/
#zuitt-moto {
	letter-spacing:  5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius:  150px;
}

/*Descendant Selector*/
/*selector selector*/
#bootcamp-learning-list li{
	color:  #075966;
}

/*General Sibling Slector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

.module {
	letter-spacing: 3px;
}